progress[value]
{
	/* Elimino la apariencia por defecto */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	width: 70%;
	overflow:hidden;
	border:1px inset #666;
	background-color:#D8D8D8;
	border-radius : 20px ; 
}

.progress
{
	float:left;
	margin-right:30px;
	margin-bottom:20px;
}

.progress span
{
	font-weight:bold;
}

progress::-moz-progress-bar
{ 
	background: #FF8000;
	background: rgba(255, 75, 75);
	background: -moz-linear-gradient(left, rgba(255, 75, 75) 0%, rgb(255, 0, 0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 75, 75)), color-stop(100%, rgba(255, 0, 0)));
	background: -webkit-linear-gradient(left, rgba(255, 75, 75) 0%, rgba(255, 0, 0) 100%);
	background: -o-linear-gradient(left, rgba(255, 75, 75) 0%, rgba(255, 0, 0) 100%);
	background: -ms-linear-gradient(left, rgba(255, 75, 75) 0%, rgba(255, 0, 0) 100%);
	background: linear-gradient(to right, rgba(255, 75, 75) 0%, rgba(255, 0, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );	
	border-radius : 20px ; 
} 
progress::-webkit-progress-value 
{ 
	background: #FF8000;
	background: rgba(255, 75, 75);
	background: -moz-linear-gradient(left, rgb(255, 75, 75) 0%, rgba(255, 0, 0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 75, 75)), color-stop(100%, rgba(255, 0, 0)));
	background: -webkit-linear-gradient(left, rgba(255, 75, 75) 0%, rgba(255, 0, 0) 100%);
	background: -o-linear-gradient(left, rgba(255, 75, 75) 0%, rgba(255, 0, 0) 100%);
	background: -ms-linear-gradient(left, rgba(255, 75, 75) 0%, rgba(255, 0, 0) 100%);
	background: linear-gradient(to right, rgba(255, 75, 75) 0%, rgba(255, 0, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
	border-radius : 20px ;
}
progress::-webkit-progress-bar { 
	background-color:#D8D8D8;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	border-radius : 20px ; 
}
